button,
body {
  background-color: hsl(0, 0%, 95%);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
}

button,
p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}
.sec.sedans {
  background-color: hsl(31, 77%, 52%);
}

.sec.sedans button {
  color: hsl(31, 77%, 52%);
  border-radius: 50px;
  border: none;
  width: 140px;
  height: 45px;
}

.sec.suvs {
  background-color: hsl(184, 100%, 22%);
}
.sec.suvs button {
  color: hsl(184, 100%, 22%);
  border-radius: 50px;
  border: none;
  width: 140px;
  height: 45px;
}
.sec.lux {
  background-color: hsl(179, 100%, 13%);
}
.sec.lux button {
  color: hsl(179, 100%, 13%);
  border-radius: 50px;
  border: none;
  width: 140px;
  height: 45px;
}
.sec button:hover {
  color: hsl(0, 0%, 95%);
  background-color: inherit;
  border: 3px solid hsl(0, 0%, 100%);
}
.titlefont {
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
  font-size: 40px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
}
@media only screen and (max-width: 375px) {
  .container {
    display: block;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .sec {
    width: 330px;
    height: 440px;
  }
  .sec .container {
    width: 235px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px 45px;
  }
  .sec.sedans {
    border-radius: 10px 10px 0px 0px;
  }

  .sec.lux {
    border-radius: 0px 0px 10px 10px;
  }
}

@media only screen and (min-width: 376px) {
  .container {
    display: flex;
  }
  .sec {
    width: 310px;
    height: 500px;
  }
  .sec .container {
    width: 215px;
    height: 410px;
  }
  .sec.sedans {
    border-radius: 10px 0px 0px 10px;
  }

  .sec.lux {
    border-radius: 0px 10px 10px 0px;
  }
}
